.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination-page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin: 0 5px;
    cursor: pointer;
}

.pagination-active {
    background-color: #3182ce;
    color: white;
    border-radius: 5px;
}

.pagination-previous,
.pagination-next {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin: 0 5px;
    cursor: pointer;
}

.pagination-break {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin: 0 5px;
}
